

.container{
  
  gap: 1rem 2 rem;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem;
  padding: 2rem 2.5rem;
  background-color: wheat;
  border-radius: 10px;
  
}

.h3{
  font-weight: 600;
}

.container section{
  width: 90rem;
}